# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Log files
logs/

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/

# mypy
.mypy_cache/

# VSCode
.vscode/
